main{
    display: flex;
    height: 850px;
    width: 1400px;
    background:whitesmoke;
}

.logoalura{
    position: absolute;
    margin: 90px auto auto 180px;
      
}

#textoaqui{
    background-color: white;
    color: #0A3871;
    text-transform: lowercase;
    position: absolute;
    width: 570px;
    height: 500px;
    left: 400px;
    top: 168px;
    border: none;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 26px;
    line-height: 150%;
    display: inline-block;
    
}

#textoaqui:focus{
    outline:none;
}

.input::placeholder{
    color: #0A3871;
    font-family: 'Inter';
    text-transform: none;
    
}

.anotacion{
    display: flex;
    flex-direction: row;
    position: absolute;
    margin: 700px auto 155px 400px;
    vertical-align: middle;
}

.nota{
    width: 10px;   
    opacity: 0.8;
}

.minusculas{
    font-style: normal;
    font-family: 'Inter';
    color: #495057;
    opacity: 0.8;
    font-size: 12px;
    line-height: 150%;
    padding-left: 10px;   
}

.botones{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 24px;
    position: relative;
    width: 680px;
    height: 67px;
    margin: 740px 130px 72px 400px;
    text-transform: none;

}

.botEncriptar{
    justify-content: center;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: white;
    display: flex;
    padding: 24px;
    gap: 8px;
    width: 328px;
    height: 67px;
    background: #0A3871;
    border-radius: 24px;
    cursor: pointer;
    text-align: center;
}

.botEncriptar:hover{
    background-color: #083163;
    transform: scale(1.03);
}

.botEncriptar:active{
    background-color: #0A3871;    
}

.botDesencriptar{
    justify-content: center;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #0A3871;
    display: flex;
    padding: 24px;
    gap: 8px;
    width: 328px;
    height: 67px;
    background: #D8DFE8;
    border: 1px solid #0A3871;
    border-radius: 24px;
    cursor: pointer;
    text-align: center;
}

.botDesencriptar:hover{
    background-color: #d2dbe9;
    transform: scale(1.03);
}

.botDesencriptar:active{
    background-color: #D8DFE8;
}

.copiar{
    justify-content: center;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 19px;
    color: white;
    display: flex;
    position: relative;
    padding: 24px;
    gap: 8px;
    width: 328px;
    height: 67px;
    background: #0A3871;
    border-radius: 24px;
    cursor: pointer;
    text-align: center;
    top: 200px;
    left: 30px;
}

.copiar:hover{
    background-color: #FF5733;
    transform: scale(1.03);
    border: none;
}

.copiar:active{
    background-color: #F67256; 
    border: none;   
}

.textEncriptado{
    background: white;  
    background-repeat:no-repeat;
    border: none;
    border-radius: 15px;
    color: #0A3871;
    padding: 0px;
    position: relative;
    width: 390px;
    height: 500px;
    left: 0px;
    top: 150px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
}

.textEncriptado:focus{
    outline: none;
}

.textEncriptado:placeholder-shown{
    background-image: url("imagenes/personaje.png");
    background-position: center;
}

.textEncriptado::placeholder{
    position: relative;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 100%;
    text-align:center;
    color: #343A40;
    vertical-align: bottom;
    top: 410px;
}

.desarrollador{
    height: 10%;
    width: 100%;
    background-color: #052144;
    color: white;
}

.desarrollador p{
    margin-top: 10px;
    text-align: center;
    font-family: 'Inter';
    font-style: normal;
    font-size: 20px;
    color: lightgrey;
}













@media screen and (max-width:480px) {
}