html{
    height: 930px;
    width: 1400px;
}
main{
      
    background:whitesmoke;
}

.logoalura{
    margin-top: 60px;
    margin-left: 250px;      
}

.textoaqui{
    background-color: white;
    color: #0A3871;
    text-transform: lowercase;
    position: absolute;
    width: 680px;
    height: 500px;
    left: 350px;
    top: 120px;
    border: none;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 26px;
    line-height: 150%;
    display: inline-block;
    
}

.textoaqui:focus{
    outline:none;
}

.textoaqui::placeholder{
    color: #0A3871;
    font-family: 'Inter';
    text-transform: none;
    
}

.anotacion{
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 650px;
    left: 360px;
    vertical-align: middle;
}

.minusculas{
    position: absolute;
    font-style: normal;
    font-family: 'Inter';
    color: #495057;
    opacity: 0.9;
    font-size: 15px;
    line-height: 150%;
    padding-left: 10px;   
    top: 648px;
    left: 375px;
}

.botones{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 24px;
    position: absolute;
    width: 680px;
    height: 67px;
    top: 700px;
    left: 350px;
    text-transform: none;

}

.botEncriptar{
    justify-content: center;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: white;
    display: flex;
    padding: 24px;
    gap: 8px;
    width: 328px;
    height: 67px;
    background: #0A3871;
    border-radius: 24px;
    cursor: pointer;
    text-align: center;
}

.botEncriptar:hover{
    background-color: #083163;
    transform: scale(1.03);
}

.botEncriptar:active{
    background-color: #0A3871;    
}

.botDesencriptar{
    justify-content: center;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #0A3871;
    display: flex;
    padding: 24px;
    gap: 8px;
    width: 328px;
    height: 67px;
    background: #D8DFE8;
    border: 1px solid #0A3871;
    border-radius: 24px;
    cursor: pointer;
    text-align: center;
}

.botDesencriptar:hover{
    background-color: #d2dbe9;
    transform: scale(1.03);
}

.botDesencriptar:active{
    background-color: #D8DFE8;
}

.botCopiar{
    justify-content: center;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 19px;
    color: white;
    display: flex;
    position: relative;
    padding: 24px;
    gap: 8px;
    width: 328px;
    height: 67px;
    background: #0A3871;
    border-radius: 24px;
    cursor: pointer;
    text-align: center;
    top: 520px;
    left: 1230px;
}

.botCopiar:hover{
    background-color: #FF5733;
    transform: scale(1.03);
    border: none;
}

.botCopiar:active{
    background-color: #F67256; 
    border: none;   
}

.textEncriptado{
    background: white;  
    background-repeat:no-repeat;
    border: none;
    border-radius: 15px;
    color: #0A3871;
    padding: 0px;
    position: absolute;
    width: 390px;
    height: 500px;
    left: 1200px;
    top: 100px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
}

.textEncriptado:focus{
    outline: none;
}

.textEncriptado:placeholder-shown{
    background-image: url("imagenes/personaje.png");
    background-position: center;
}

.textEncriptado::placeholder{
    position: relative;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 100%;
    text-align:center;
    color: #343A40;
    vertical-align: bottom;
    top: 410px;
}

.desarrollador{
    display: flex;
    flex-direction: row;
    position: absolute;
    height: 110px;
    width: 100%;
    background-color: #052144;
    color: white;
    top: 830px;

}

.dev-texto{
    position:absolute;
    font-family: 'Inter';
    font-style: normal;
    font-size: 20px;
    color: lightgrey;
    font-weight: 700;
    left: 680px;
}

.logosFoot{
    position: relative;
    left: 990px;
    top: 15px;
}
.logosFoot img{
    width: 48px;  
    padding: 3px;
}

@media screen and (max-width:540px) {
    html{
        width: 100%;
        height: 1100px;
    }

    section{
        position: absolute;
        width: 420px;
    }

    .logoalura{
        position: absolute;
        margin-left: 10px;
        margin-top: 10px;
        /*transform: scale(70%);*/
    }

    .textoaqui{
        position: relative;
        top: 70px;
        left: 10px;
        width: 380px;
        height: 350px;
        border: none;
        font-size: 20px;
        font-weight: 500;
        border: none;
        
    }

    .anotacion{
        position:absolute;
        top: 430px;
        left: 10px;
       
    }

    .minusculas{
        position: absolute;
        top: 430px;
        left: 17px;
    }

    .botones{
       top: 460px;
       left: 20px;
       width: 350px;
        gap: 15px;

    }

    .textEncriptado{
        position: relative;
        width: 380px;
        height: 380px;
        top: 560px;
        left: 10px;
        border: none;

    }

    .textEncriptado::placeholder{
        font-size: 20px;
        color: #343A40;
        vertical-align: bottom;
        top: 350px;
        font-weight: 500;

    }

    .botCopiar{
        width: 200px;
        top: 570px;
        left: 100px;

    }

    .desarrollador{
        position:absolute;
        top: 1050px;
        width: 540px;
        display: flex;
        align-items: center;

    }
    .dev-texto{
        font-size: 15px;
        position: relative;
        left: 60px;
        top: 0px;

    }

    .logosFoot{
        position: relative;
        left: 65px;
        top: 10px;
    }
    .logosFoot img{
        width: 30px;  
        padding: 3px;
    }


}



@media screen and (min-width:541px) and (max-width:900px) {
    html{
        width: 100%;
        height: 1100px;
    }

    section{
        position: absolute;
        width: 820px;
    }

    .logoalura{
        position: absolute;
        margin-left: 20px;
        margin-top: 20px;
    }

    .textoaqui{
        position: relative;
        top: 70px;
        left: 70px;
        width: 500px;
        height: 450px;
        border: none;
        font-size: 20px;
        font-weight: 500;
        border: none;
        
    }

    .anotacion{
        position:absolute;
        top: 532px;
        left: 70px;
       
    }

    .minusculas{
        position: absolute;
        top: 530px;
        left: 80px;
    }

    .botones{
       top: 570px;
       left: 150px;
       width: 350px;
        gap: 15px;

    }

    .textEncriptado{
        position: relative;
        width: 500px;
        height: 450px;
        top: 670px;
        left: 70px;
        border: none;

    }

    .textEncriptado::placeholder{
        font-size: 20px;
        color: #343A40;
        vertical-align: bottom;
        top: 400px;
        font-weight: 500;

    }

    .botCopiar{
        width: 200px;
        top: 690px;
        left: 210px;

    }

    .desarrollador{
        position:absolute;
        top: 1250px;
        width: 100%;
        display: flex;
        align-items: center;

    }
    .dev-texto{
        font-size: 15px;
        position: relative;
        left: 150px;
        top: 0px;

    }

    .logosFoot{
        position: relative;
        left: 160px;
        top: 10px;
    }
    .logosFoot img{
        width: 40px;  
        padding: 3px;
    }

}


