main{
    display: flex;
    height: 850px;
    width: 1400px;
    background:whitesmoke;
}

.logoalura{
    position: absolute;
    margin: 90px auto auto 180px;
      
}

#textoaqui{
    background-color: white;
    color: #0A3871;
    text-transform: lowercase;
    position: absolute;
    width: 577px;
    height: 500px;
    left: 400px;
    top: 168px;
    border: none;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;
    display: inline-block;
    
}

#textoaqui:focus{
    outline:none;
}

::placeholder{
    color: #0A3871;
    font-family: 'Inter';
    text-transform: none;
    
}

.anotacion{
    display: flex;
    flex-direction: row;
    position: absolute;
    margin: 700px auto 155px 400px;
    vertical-align: middle;
}

.nota{
    width: 10px;   
    opacity: 0.8;
}

.minusculas{
    font-style: normal;
    font-family: 'Inter';
    color: #495057;
    opacity: 0.8;
    font-size: 12px;
    line-height: 150%;
    padding-left: 10px;   
}

.botones{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 24px;
    position: relative;
    width: 680px;
    height: 67px;
    margin: 740px 520px 72px 400px;
    text-transform: none;

}

.botEncriptar{
    justify-content: center;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: white;
    display: flex;
    padding: 24px;
    gap: 8px;
    width: 328px;
    height: 67px;
    background: #0A3871;
    border-radius: 24px;
    cursor: pointer;
    text-align: center;
}

.botEncriptar:hover{
    background-color: #083163;
    transform: scale(1.03);
}

.botEncriptar:active{
    background-color: #0A3871;    
}

.botDesencriptar{
    justify-content: center;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #0A3871;
    display: flex;
    padding: 24px;
    gap: 8px;
    width: 328px;
    height: 67px;
    background: #D8DFE8;
    border: 1px solid #0A3871;
    border-radius: 24px;
    cursor: pointer;
    text-align: center;
}

.botDesencriptar:hover{
    background-color: #d2dbe9;
    transform: scale(1.03);
}

.botDesencriptar:active{
    background-color: #D8DFE8;
}

.resultado{
    position: absolute;
    width: 400px;
    height: 700px;
    left: 1300px;
    top: 40px;
    background: #FFFFFF;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    border-radius: 32px;
    align-content: center;
}

.personaje{
    position: relative;
    margin: 180px auto 30px auto;
}

.ningunMensaje{
    width: 336px;
    height: 58px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 120%;
    text-align: center;
    color: #343A40;
}

.ingreseTexto{
    margin-top: 10px;
    width: 336px;
    height: 48px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    text-align: center;
    }

.desarrollador{
    height: 10%;
    width: 100%;
    background-color: #052144;
    color: white;
}

.desarrollador p{
    margin-top: 10px;
    text-align: center;
    font-family: 'Inter';
    font-style: normal;
    font-size: 20px;
    color: lightgrey;
}













@media screen and (max-width:480px) {
}